.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfvars
!terraform.tfvars.example
crash.log
crash.*.log
Code_Demos/session1-iac-storage/bicep/*.json

**/bin/
**/obj/
**/publish/
*.dll
*.user
*.suo
.vs/

frontend/config.local.js
Outlines/*
~*
Manage_Resource_Groups.ps1
Training_Content.sln
*.zip

**/.terraform.lock.hcl